body, div, header, main, footer{
    /* hack para largura */
    box-sizing: border-box;
}
body{
    background-color: black;
    font-family: Verdana, Geneva, Tahoma, sans-serif;

    /* Sobre background */
    background-image: url("image.jpg");
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: center;
    background-size: cover;
    /* From https://css.glass - site zica*/
}

/* container */
.container{
    width:80%;
    background-color: gray;
    margin:auto;  /* centralizar  */
    padding: 100px; /* padding afasta o conteudo da borda */
}

h1{
    text-align: center;
    font-size: 3em;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    
    background-image: url("fundo-texto.jpg");
    background-clip: text;
    -webkit-background-clip: text; /* Hack chrome */
    color: transparent;
}

p{
    text-align: justify;
}

/* formatação de tabela */
table{
    border:3px dotted black; 
/* border-width, border-style, border-color */
}

th{
    padding: 15px;
    border: 1px solid black;
    background-color: greenyellow;

}

td{
    padding: 10px;
    border-bottom: 1px dashed red;
}
