:root{
    scroll-behavior: smooth;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color: #d3d3d3;
    box-sizing: border-box;
    margin:0;
    padding: 0;
    background-image: url(madeira.jpg);
    background-size: cover;
    background-position: center;
    height: 100vh;
}

.container{
    width: 90%;
    max-width: 1200px;
    margin:auto;
    background-color: white;
    min-height: 100vh;
    line-height: 2em;
}

section{
    min-height: 50vh;
}

/* -------------------------------Links------------------------------- */
a:link, a:visited{
    color:rgb(255, 255, 255);
    text-decoration: none; /* remove o sublinhado */
    font-weight: bold;
    display: inline;
}

a:hover{
    color: rgb(255, 196, 0);
}

/* -------------------------------Header------------------------------- */
header, section{
    padding: 10px 50px;
}

header{
    text-align: center;
    background-image: url(madeira.jpg);
}

h1{
    color: black;
    display: inline-block;
    width: fit-content;
}

header img:hover{
    animation: rotate 1.5s ease-in-out;
}

@keyframes rotate{
    0%{
        transform: rotate(0deg)
    }
    100%{
        transform: rotate(360deg)
    }
}

/* -------------------------------Nav------------------------------- */
nav{
    background-color: red;
    display: flex;
    flex-wrap: wrap;
}

nav div{
    display: inline-block ;
    padding: 8px 110px;
    max-width: 100%;
    box-sizing: border-box;
    text-align: center;    
}

/* -------------------------------Sobre------------------------------- */
.sobre{
    text-align: justify;
}

/* -------------------------------Table------------------------------- */
table{
    width: 100%;
    border-width: 2px;
    border-style: solid;
    border-color: red;
}

tr{
    background-color: rgb(255, 196, 0);
}

tr:first-child{
    background-color: red ;
}

tr:not(:first-child):hover{
    color: rgb(255, 255, 255);
}

table tr:not(:first-child) td:nth-child(2)::before {
    content: "R$ ";
}

/* tr:nth-child(4){
    display: none;
} */

/* -------------------------------Adress------------------------------- */
h1#endereco:hover{
    color: rgb(255, 196, 0);
}

address > p:first-child::before{
    content: "Rua\00a0";
}

address > p:nth-child(2)::before{
    content: "Bairro\00a0";
}

address > p:nth-child(3)::after{
    content: "\00a0- Santa Catarina";
}

address > p{
    display: flex;
    justify-content: center;
}
