root{
    scroll-behavior: smooth;
}

body{
    background-color: #818274;
    font-family: 'Noto Sans JP', sans-serif;
}

.container{
    max-width: 900px; /*Largura máxima, encolhe se necessário*/
    margin: auto; /*Centralizado*/
}

nav{
    background-color: #186e80;
}

main, section{
    background-color: #A3AB78;
    /* color: #FFFFF escolher cor da fonte */
}

nav, main, section{
    box-sizing: border-box; /*contabilizar o padding na largura*/
    padding: 20px;
    margin: 20px;
    border-radius: 7px;
}

/* menu */
ul{
    list-style-type: none;
    text-align: center;
}

li{
    display: inline-block;
    padding:0 20px; /* Espaço entre o itens do menu */

}

p{
    text-align: justify;
}

a:link, a:visited{
    color:rgb(181, 255, 230);
    text-decoration: none; /* remove o sublinhado */
    font-weight: bold;
}

a:hover{
    color: black;
    text-decoration: underline; /* Cor ao passar o mouse por cima */
}

a:active{
    color: rgb(181, 255, 230);
}

/* Selecionando as imagens que estão dentro do main */
main img{
    float:left;
    margin:0 25px 5px 0;
}

.clear{
    clear: both;
}