main img {
	margin-bottom: 20px;
}

aside{
    background-color: #f1f1f1;
    text-align: center;
    display: none;
}
 p:not(header p){
    text-align: justify;
    line-height: 160%;
}

hr{
    border:1px solid #CCC;
    margin:50px 0
}

main{
    background-color: white;
    /* padding:40px; */
}

/* -----------------------------Menu Hamburger--------------------------------- */

nav > a {
    display: block;
    text-align: right;
}

nav div {
    flex-direction: column;
    text-align: right;
    transform: translateX(-100%);
    width: 100%;
    position: absolute;
    transition: transform 1s;
}

#nav:target div {
    transform: translateX(0);
}

#nav:target > a {
    display: none;
}

#nav:target #close {
    display: block;
}